<div class="image-container">
	<ng-container *ngIf="images?.length <= 0">
		<div class="item-no-image">
			<h3>No images found</h3>
		</div>
	</ng-container>
	<div class="image-item-container row">
		<ng-container *ngFor="let image of images">
			<div class="col-md-3 col-lg-3">
				<div class="item-image-container">
					<div class="item-image">
						<a href="javascript:void(0);" (click)="selectImage(image.id, image.filename)"> 
							<img src="{{ apiImageUrl }}/{{ image.url }}">
						</a>
					</div>
					<div class="item-description">
						{{ image.description }}
					</div>
				</div>
			</div>
		</ng-container>
	</div>
</div>
<div class="image-action-nav" *ngIf="actionNav">
	<ul class="nav justify-content-center action-nav">
	  <li class="nav-item">
	    <a class="nav-link" href="javascript:void(0);" (click)="deleteImage()"><i class="fa fa-trash"></i></a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="javascript:void(0);"  (click)="downloadImage()"><i class="fa fa-download"></i></a>
	  </li>
	</ul>
</div>
